html
	head
		title= 'NETS 312 Epidemic Control'
		script(type='text/javascript', src='main.js')
		script(type='text/javascript', src='vis.js')
		link(rel='stylesheet', type='text/css', href='vis.css')
	body
		#container
