html
	head
		title= 'NETS 312 Epidemic Control'
		script(type='text/javascript', src='main.js')
		scrpit(type='text/javascript', src='node_modules/vis/dist/vis.min.js')
		link(rel='stylesheet', type='text/css', href='node_modules/vis/dist/vis.min.css')
	body
		#container
