html
	head
		title= 'NETS 312 Epidemic Control'
		link(rel='stylesheet', type='text/css', href='main.css')
		script(type='text/javascript', src='vis.js')
		link(rel='stylesheet', type='text/css', href='vis.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		script(type='text/javascript', src='main.js')
	body
		nav.navbar.navbar-default
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='') NETS 312 Epidemic Control
					li
						a(href='#reset') Reset
					li
						a(href='#slider') Time:
					li
						a
							input(type='range' id='timestep' value=100)
		#main-row.row
			#sidebar.col-md-2.black
				ul.nav.nav-pills.nav-stacked.side-menu
					li(role="presentation").active
						a Ebola 50,000 nodes
					li(role="presentation") 
						a Something else here
			#container.col-md-10.black
