html
	head
		title= 'NETS 312 Epidemic Control'
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		script(type='text/javascript', src='main.js')
		script(type='text/javascript', src='sigma.min.js')
		script(type='text/javascript', src='plugins/sigma.parsers.gexf.min.js')
		script(type='text/javascript', src='plugins/sigma.layout.forceAtlas2.min.js')
		script(type='text/javascript', src='plugins/sigma.plugins.animate.min.js')
		link(rel='stylesheet', type='text/css', href='main.css')
	body
		nav.navbar.navbar-fixed-top.navbar-default
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='') NETS 312 Epidemic Control
					li
						a Time:
					li
						a
							input(type='range' id='timestep' value=1 min=1 max=59)
					li
						a(href='https://github.com/sachabest') Sacha Best
					li
						a(href='https://github.com/cloman93') Corey Loman
					li
						a Vincent Gubitosi
					li
						a Christina Nelson
					li
						a John Trueman

		#main-row.row
			#sidebar.sidebar-out
				#text-left1.description.side-menu
					h3 Animated Visualizatoin of SIRS Spreading Model
					button(type="button" id='play').btn.btn-primary.btn-lg
						span Loading...
				#text-left3.description.side-menu
					h3 Project Description
					p This is a graph visualization of a social contact network of people in Sierra Leone. The original dataset, supplied by the World Health Organization, contained over 5 million people (designated by nodes) and 90 million daily interactions between those people (designated by edges). The visualization shown here is a subgraph containing roughly 1200 nodes, demonstrating how ebola spreads throughout the network over a period of time. A yellow node corresponds to a person being "susceptible" to contracting ebola. A red node means the person is "infected" with the disease, and a green node corresponds to a "recovered" person. The spread of the disease was modeled using the SIRS model, which most closely matches how ebola actually spreads.
			#sigma.col-md-12.fill
